.idea
target/
build/
.gradle
gradlew
gradlew.bat
/.gradle
bin
*.iml
.checkstyle
.version
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
.cache
/RUNNING_PID
/.settings
/project/*-shim.sbt
/activator-sbt-atmos-akka-shim.sbt
api.log
api.log.*